.wraper{
    margin: clamp(3rem, 8vw, 5rem) auto;
    max-width: 1200px;
    padding: 0 clamp(1rem, 4vw, 3rem);
    display: flex;
    justify-content: space-around;
}
@media (max-width:968px){
    .wraper{
        padding: 0 1rem;
        margin: 0px;
        width: 100%;
     display: block;
       
    }
    .description p{
        font-size: 12px;
    
    }
    .description h3{
        font-size: 16px;
    
    }
}