a{
    text-decoration: none;
}
a.col:hover{
    text-decoration: none;
}
.wraper{
    display: flex;
    justify-content:flex-start;
 
    
}
.header{
    text-align: center;
  
}
a.col:active,a.col:hover,a.col::selection{
    padding: 55px;
    height: 70px;
       text-align: center;
       background-color: rgba(244, 189, 137, 0.8);
       border-radius: 10px;
margin: 0 auto;
       cursor: pointer;
}
.active img{
    width: 50px;
    height: 50px;
}
.active p{
    color: white;
}
.col{
 padding: 35px;
 height: 70px;
    text-align: center;
    background-color: rgb(194, 187, 187,0.8);
    border-radius: 10px;
    margin: 10.7px;
    cursor: pointer;
}
.col img{
    width: 50px;
    height: 50px;
}
.col p{
    color:white
}